{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Dogs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('upload.upload') }}">Add another dog</a>
  {% endif %}
{% endblock %}


{% block content %}
    {% for dog in dogs %}
        {% if g.user['id'] == dog['user_id'] %}
        <article>
            <header>
                <div>
                    <h1>{{ dog['breed'] }}</h1>
                    <div>Discovered on {{ dog['discovered'].strftime('%Y-%m-%d') }}</div>
                </div>
            </header>
            <img src="{{url_for('static', filename='images/' + dog['photo_path'])}}" alt="DOGIMAGE" width="300" height="300">

            <style>
            h2{text-align: right;}
            </style>
            <h2>
                <a class="action" href="{{ url_for('upload.delete_pic', id=dog['id'], file=dog['photo_path']) }}">Delete dog</a>
            </h2>
            
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}